body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #f6afaf;
  color: black;
  text-align: center;
  padding: 1em 0;
}

h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.highlighted-text {
  color: red;
}
.pink-paragraph {
  color: rgb(188, 38, 153);
}
.food-image {
  max-width: 200px;
  margin-right: 50px;
  border-radius: 8px;
  border: 2px solid #ddd;
}
